/* Importing fonts like poppins and roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Default starting properties */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* setting default values to be used by variables */
:root{
    --prime_color : #b74b4b;
    --second_color : #577592;
    --txt_color : rgb(200, 200, 200);
    --accent_color_dark : #1d69a3;
    --padding_inline : 20px;
}

body{
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    background-color: black;
    color: var(--txt_color);
}

.flex{
    display: flex;
    align-items: center;
}
.container{
    /* max-width: 2200px; */
    padding-inline: 20px;
}

ul{
    list-style: none;
    gap: 40px;
}

a{
    text-decoration: none;
    color: var(--txt_color);
}
/* Nav part */
.main-nav{
    padding-block: 20px;
    justify-content: space-between;    
}
.head-txt{
    color: var(--prime_color);
    transition: 0.2s ease;
}
.head-txt:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.hover-link{
    justify-content: end;
    transition: 0.2s ease;
}
.hover-link:hover{
    color: var(--prime_color);
    /* border-bottom: 1.5px solid var(--txt_color); */
}
.hover-link :active{
    color: var(--prime_color);
    border-bottom: 2px solid var(--prime_color);
}
/* mig img */
.mid-img img{
    margin-top: 50px;
    transform: scale(0.8);
    border-radius: 400px;
}

/* mid txt */

.mid-txt{
    font-size: 25px;
}
.mid-head-txt{
    font-size: 50px;
}
.mid-typing{
    width: 100%;
    height: 70px;
    font-size: 30px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
.mid-static-txt{
    margin-right: 25px;
}
.mid-dynamic-txt {
    margin-top: 225px;
    font-size: 50px;
    font-weight: 700;
    color: var(--prime_color) !important;
    position: relative;
    display: flex;
    animation: sample 12s infinite;
    animation-iteration-count: infinite;
}

@keyframes sample{
    0%{
        bottom: 0px;
    }
    25%{
        bottom: 80px;
    }
    50%{
        bottom: 150px;
    }
    75%{
        bottom: 220px;
    }
    100%{
        bottom: 0px;
    }
}

/* mid para */
.mid-p{
    margin-bottom: 20px;
    font-weight: 400;
}
/* linkssss */
.link{
    margin-bottom: 20px;
}

.link a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.3s ease;
    color: var(--prime_color);
}
.link a:hover{
    color: black;
    background-color: var(--prime_color);
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 0 10px var(--prime_color);
}

.btn{
    display: inline-block;
    padding: 20px 48px;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

